.main {
    background: url(../img/bg-repeat.jpg);
    background-size: contain;
    display: flex;
    width: 100%;
    height: 100vh;
    
}

.duvida {
    align-items: center;
    justify-content: center;
    width: 50%;
    color: #fff;
    margin-top: 15rem;
    margin-left: 10rem;
    font-size: 20px;
}

.duvida p {
    font-size: 35px;
    font-weight: 400;
}

.form form {
    margin-top: 30px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 820px;
    background-color: #fff;
    padding: 20px 35px 35px 35px;
    position: absolute;
    top: 50px;
}

.form-control {
    position: relative;
}

.form-control input,
textarea {
    font-weight: 600;
    margin-top: 12px;
    border-radius: 10px;
    font-size: 25px;
    width: 100%;
    padding: 15px;
    border: 1px solid #000000;
    color: #A8A8A8;
    margin-bottom: 15px;
    resize: none;
}

.campo-obrig {
    font-size: 23px;
    margin: 0px 0 30px 5px;
    font-weight: 600;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    
}

.button button {
    font-size: 25px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: #3CCC87;
    color: #fff;
    font-weight: 700;
    border-style: none;
    cursor:pointer;
    
}
